/* signup css */

.form__section {
  display: grid;
  place-items: center;
  height: 100vh;
}
/* .form__section h2{
    text-align: center;
} */

.form__section-container {
  width: var(--form-width);
}

.form__control.inline {
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
.alert__message {
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: var(--card-border-radius-2);
}

.alert__message.error {
  background: var(--color-red-light);
  color: var(--color-red);
}
.alert__message.success {
  background: var(--color-green-light);
  color: var(--color-green);
}

.alert__message.lg {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__control {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background-color: #ffffff;
  border-radius: var(--card-border-radius-2);
  resize: none;
  color: #000000;
  font-size: medium;
}
.form__section small {
  margin-top: 1rem;
  display: block;
  color: #ffffff;
  font-size: medium;
}
.form__section small a {
  color: #ffffff;
  font-size: larger;
}

.form__section .btn:hover {
  background-color: #e45a15e6; /* Légère variation de couleur au survol */
}

.btn {
  display: flex;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: #0081f1;;
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-white);
  font-size: medium;
  border-radius: 5px;
  margin-top: 10px; /* Espacement entre les boutons */

}



/**********************************************************************************/


/* Media Query */

/* --------no media query for signup signin---------- */

/* End Media Query */
